@font-face {
    font-family: StabilGrotesk;
    src: url(../../../_next/static/media/StabilGrotesk-Black.916ac6dc.woff2) format("woff2"), url(../../../_next/static/media/StabilGrotesk-Black.daafab8b.woff) format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: StabilGrotesk;
    src: url(../../../_next/static/media/StabilGrotesk-Bold.17f22d08.woff2) format("woff2"), url(../../../_next/static/media/StabilGrotesk-Bold.75178e10.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: StabilGrotesk;
    src: url(../../../_next/static/media/StabilGrotesk-Regular.f5a3e3dc.woff2) format("woff2"), url(../../../_next/static/media/StabilGrotesk-Regular.ba527753.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: StabilGrotesk;
    src: url(../../../_next/static/media/StabilGrotesk-Regular.f5a3e3dc.woff2) format("woff2"), url(../../../_next/static/media/StabilGrotesk-Regular.ba527753.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

p {
    margin: 0
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

:root {
    --vh: 1vh;
    --vw: 1vw;
    --header-size: calc(96px + (1vw - 3.75px) * 100 * 0.0336569579);
    --foreground-color: #fff;
    --background-color: #000;
    --grid-column-width: calc((100vw - var(--grid-gap) * (var(--grid-column-count) - 1) - var(--grid-gutter) * 2) / var(--grid-column-count));
    --grid-column-count: 6;
    --grid-gap: 4.2666666667vw;
    --grid-gutter: 4.2666666667vw
}

@media(min-width:768px) {
    :root {
        --grid-column-count: 8;
        --grid-gap: 4.1666666667vw;
        --grid-gutter: 2.0833333333vw
    }
}

@media(min-width:1024px) {
    :root {
        --grid-column-count: 12;
        --grid-gap: 2.7777777778vw;
        --grid-gutter: 3.3333333333vw
    }
}

@media(min-width:2560px) {
    :root .max-content-width {
        --grid-column-width: calc((2560px - var(--grid-gap) * (var(--grid-column-count) - 1) - var(--grid-gutter) * 2) / var(--grid-column-count));
        --grid-column-count: 12;
        --grid-gap: 71.1111111111px;
        --grid-gutter: 85.3333333333px;
        max-width: 2560px
    }
}

html {
    font-size: 62.5%;
    font-family: StabilGrotesk, Arial, sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none
}

body,
html {
    background-color: var(--background-color);
    color: var(--foreground-color)
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overscroll-behavior: none
}

#__next {
    overflow-x: hidden
}

.has-smooth-scroll {
    height: 100%;
    overflow: hidden
}

.has-smooth-scroll body {
    overflow-x: hidden;
    height: 100%
}

.has-smooth-scroll #__next {
    height: 100%
}

a {
    color: inherit;
    text-decoration: none
}

*,
:after,
:before {
    box-sizing: inherit
}

ol,
ul {
    list-style: none;
    padding: 0
}

blockquote,
ol,
ul {
    margin: 0
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0
}

figure {
    margin: 0
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    opacity: 0
}

.skip-link:focus {
    top: 0;
    opacity: 1
}

:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 1px
}

.scroll-wrapper {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden
}

.scrollbar-track {
    background-color: rgba(var(--background-color), 0) !important;
    position: absolute;
    inset: 0 0 0 auto;
    mix-blend-mode: difference
}

.scrollbar-thumb {
    background-color: rgba(222, 222, 222, .75) !important;
    border-radius: 0 !important;
    transition: background-color .25s cubic-bezier(.455, .03, .515, .955);
    left: 50% !important
}

.scrollbar-track-y {
    z-index: 100 !important;
    transition: opacity .5s ease-out, width .5s cubic-bezier(.455, .03, .515, .955) !important
}

.scrollbar-thumb {
    transition: width .5s cubic-bezier(.455, .03, .515, .955) !important
}

.scrollbar-track:hover.scrollbar-track-y {
    width: 24px !important
}

.scrollbar-track:hover .scrollbar-thumb {
    width: 50%
}

.theme-color {
    background: var(--background-color);
    color: var(--foreground-color)
}

.abs-fill {
    inset: 0;
    position: absolute
}

.abs-center {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%)
}

.split-element {
    display: inline-block;
    position: relative;
    text-decoration: inherit
}

.mask-split-line,
.split-lines {
    white-space: nowrap
}

.mask-split-line {
    overflow: hidden
}

.overflow-visible .mask-split-line {
    overflow: hidden;
    overflow: clip
}

.split-words {
    white-space: nowrap
}

.text-outline {
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: calc(1px + (1vw - 3.75px) * 100 * .0006472492);
    -webkit-text-stroke-color: currentColor
}

#ot-sdk-cookie-policy>#ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy {
    font-size: 2rem
}

a.link-underline-decoration,
button.link-underline-decoration {
    text-decoration: none;
    background: linear-gradient(var(--foreground-color), var(--foreground-color)) 0 100% no-repeat;
    background-size: 100% 1.5px;
    transition: background-size .5s
}

@media(hover:hover)and (pointer:fine) {
    a.link-underline-decoration:hover,
    button.link-underline-decoration:hover {
        background-size: 0 1.5px
    }
}

a.link-underline-decoration:after,
button.link-underline-decoration:after {
    content: none
}

.grid-row {
    display: grid;
    grid-column-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, var(--grid-column-width))
}

.grid-gutter,
.grid-row {
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter)
}

.max-content-width {
    max-width: 2560px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.grid-gutter .grid-row,
.grid-row .grid-row {
    padding-left: 0;
    padding-right: 0
}

.grid-col-1 {
    grid-column-end: span 1
}

.grid-col-width-1 {
    width: calc(var(--grid-column-width)*1 + var(--grid-gap)*0)
}

.grid-col-2 {
    grid-column-end: span 2
}

.grid-col-width-2 {
    width: calc(var(--grid-column-width)*2 + var(--grid-gap)*1)
}

.grid-col-3 {
    grid-column-end: span 3
}

.grid-col-width-3 {
    width: calc(var(--grid-column-width)*3 + var(--grid-gap)*2)
}

.grid-col-4 {
    grid-column-end: span 4
}

.grid-col-width-4 {
    width: calc(var(--grid-column-width)*4 + var(--grid-gap)*3)
}

.grid-col-5 {
    grid-column-end: span 5
}

.grid-col-width-5 {
    width: calc(var(--grid-column-width)*5 + var(--grid-gap)*4)
}

.grid-col-6 {
    grid-column-end: span 6
}

.grid-col-width-6 {
    width: calc(var(--grid-column-width)*6 + var(--grid-gap)*5)
}

@media(min-width:768px) {
    .grid-col-m-1 {
        grid-column-end: span 1
    }
    .grid-col-m-width-1 {
        width: calc(var(--grid-column-width)*1 + var(--grid-gap)*0)
    }
    .grid-col-m-2 {
        grid-column-end: span 2
    }
    .grid-col-m-width-2 {
        width: calc(var(--grid-column-width)*2 + var(--grid-gap)*1)
    }
    .grid-col-m-3 {
        grid-column-end: span 3
    }
    .grid-col-m-width-3 {
        width: calc(var(--grid-column-width)*3 + var(--grid-gap)*2)
    }
    .grid-col-m-4 {
        grid-column-end: span 4
    }
    .grid-col-m-width-4 {
        width: calc(var(--grid-column-width)*4 + var(--grid-gap)*3)
    }
    .grid-col-m-5 {
        grid-column-end: span 5
    }
    .grid-col-m-width-5 {
        width: calc(var(--grid-column-width)*5 + var(--grid-gap)*4)
    }
    .grid-col-m-6 {
        grid-column-end: span 6
    }
    .grid-col-m-width-6 {
        width: calc(var(--grid-column-width)*6 + var(--grid-gap)*5)
    }
    .grid-col-m-7 {
        grid-column-end: span 7
    }
    .grid-col-m-width-7 {
        width: calc(var(--grid-column-width)*7 + var(--grid-gap)*6)
    }
    .grid-col-m-8 {
        grid-column-end: span 8
    }
    .grid-col-m-width-8 {
        width: calc(var(--grid-column-width)*8 + var(--grid-gap)*7)
    }
}

@media(min-width:1024px) {
    .grid-col-l-1 {
        grid-column-end: span 1
    }
    .grid-col-l-width-1 {
        width: calc(var(--grid-column-width)*1 + var(--grid-gap)*0)
    }
    .grid-col-l-2 {
        grid-column-end: span 2
    }
    .grid-col-l-width-2 {
        width: calc(var(--grid-column-width)*2 + var(--grid-gap)*1)
    }
    .grid-col-l-3 {
        grid-column-end: span 3
    }
    .grid-col-l-width-3 {
        width: calc(var(--grid-column-width)*3 + var(--grid-gap)*2)
    }
    .grid-col-l-4 {
        grid-column-end: span 4
    }
    .grid-col-l-width-4 {
        width: calc(var(--grid-column-width)*4 + var(--grid-gap)*3)
    }
    .grid-col-l-5 {
        grid-column-end: span 5
    }
    .grid-col-l-width-5 {
        width: calc(var(--grid-column-width)*5 + var(--grid-gap)*4)
    }
    .grid-col-l-6 {
        grid-column-end: span 6
    }
    .grid-col-l-width-6 {
        width: calc(var(--grid-column-width)*6 + var(--grid-gap)*5)
    }
    .grid-col-l-7 {
        grid-column-end: span 7
    }
    .grid-col-l-width-7 {
        width: calc(var(--grid-column-width)*7 + var(--grid-gap)*6)
    }
    .grid-col-l-8 {
        grid-column-end: span 8
    }
    .grid-col-l-width-8 {
        width: calc(var(--grid-column-width)*8 + var(--grid-gap)*7)
    }
    .grid-col-l-9 {
        grid-column-end: span 9
    }
    .grid-col-l-width-9 {
        width: calc(var(--grid-column-width)*9 + var(--grid-gap)*8)
    }
    .grid-col-l-10 {
        grid-column-end: span 10
    }
    .grid-col-l-width-10 {
        width: calc(var(--grid-column-width)*10 + var(--grid-gap)*9)
    }
    .grid-col-l-11 {
        grid-column-end: span 11
    }
    .grid-col-l-width-11 {
        width: calc(var(--grid-column-width)*11 + var(--grid-gap)*10)
    }
    .grid-col-l-12 {
        grid-column-end: span 12
    }
    .grid-col-l-width-12 {
        width: calc(var(--grid-column-width)*12 + var(--grid-gap)*11)
    }
}

.button {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    overflow: visible;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation
}

.button[disabled] {
    cursor: default
}

.is-submitting .button {
    pointer-events: none
}

.input-field {
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
    border: none;
    padding: 0;
    margin: 0;
    text-indent: 0;
    outline: none;
    line-height: 1;
    -webkit-appearance: none;
    appearance: none;
}

.input-field ::-ms-clear {
    display: none
}

._app_page__Gp31t {
    position: relative;
    min-height: calc(var(--vh, 1vh)*100);
    z-index: 1
}

._app_logo__VDF3d {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%
}

._app_logo__VDF3d svg {
    height: 100%;
    width: 100%;
    display: block;
    fill: currentColor
}

._app_scrollBar__Q_HdA .scrollbar-track {
    mix-blend-mode: normal
}

._app_scrollBar__Q_HdA .scrollbar-thumb {
    background: var(--foreground-color) !important
}

.PageWipe_page-wipe__rSjbO {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    background-color: #232323;
    z-index: 3
}

.LocaleList_locale-list__5BUxa {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    bottom: 0;
    padding-top: var(--header-size);
    width: 100%;
    min-height: 100%;
    color: var(--foreground-color);
    background: var(--background-color);
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll
}

.LocaleList_topText__ymrk8 {
    padding-top: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    padding-bottom: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    color: #888
}

.LocaleList_list__1gLFZ {
    width: 100%
}

.LocaleList_back-button__Q_EWo,
.LocaleList_close-button___KbcY {
    position: absolute;
    height: var(--header-size);
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.LocaleList_close-button___KbcY {
    right: var(--grid-gutter);
    display: none
}

@media(min-width:1024px) {
    .LocaleList_close-button___KbcY {
        display: block
    }
}

.LocaleList_close-button___KbcY .LocaleList_icon__6O4YJ {
    transition: transform .25s cubic-bezier(.25, .46, .45, .94);
    block-size: 24px;
    inline-size: 24px
}

@media(hover:hover)and (pointer:fine) {
    .LocaleList_close-button___KbcY .LocaleList_icon__6O4YJ:hover {
        transform: scale(1.2)
    }
}

.LocaleList_back-button__Q_EWo {
    left: var(--grid-gutter)
}

@media(min-width:1024px) {
    .LocaleList_back-button__Q_EWo {
        display: none
    }
}

.LocaleList_back-button__Q_EWo .LocaleList_icon__6O4YJ {
    block-size: 32px;
    inline-size: 32px
}

.LocaleList_back-button__Q_EWo .LocaleList_icon__6O4YJ svg {
    fill: unset;
    stroke: currentColor
}

.Icon_icon__RjIoM {
    display: inline-block;
    vertical-align: middle
}

.Icon_icon__RjIoM svg {
    fill: currentColor;
    display: block;
    width: 100%
}

.Icon_icon__RjIoM.Icon_transparent__aVSrw svg {
    fill: rgba(0, 0, 0, 0)
}

.MenuItem_menu-item__JAENM {
    position: relative;
    display: block;
    padding-bottom: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    padding-top: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    width: 100%;
    margin: auto;
    text-align: center
}

@media(hover:hover)and (pointer:fine) {
    .MenuItem_menu-item__JAENM:hover {
        color: #fff
    }
}

.MenuItem_menu-item__JAENM hr {
    position: absolute;
    background-color: var(--foreground-color);
    border-width: 0;
    height: 1px;
    opacity: .3;
    margin: 0;
    outline: none;
    width: 100%
}

.MenuItem_menu-item__JAENM hr:first-of-type {
    inset: -1px 0 auto 0
}

.MenuItem_label__zsgrh {
    position: relative;
    z-index: 1
}

.MenuItem_background__Bqxr5 {
    background-color: #232323;
    z-index: 1
}

.MenuItem_childrenContainer__K_haO {
    z-index: 1;
    display: flex
}

.MenuItem_childrenContainer__K_haO>* {
    margin: auto
}

.MenuItem_disabled__Mc_eb {
    color: #fff
}

.MenuItem_disabled__Mc_eb .MenuItem_background__Bqxr5 {
    transform: scaleY(1) !important
}

.Heading_heading__pV5U4 {
    margin-top: 0;
    margin-bottom: 0
}

.Heading_heading-01__GJ4VX {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    line-height: 1.22;
    font-size: calc(48px + (1vw - 3.75px) * 100 * .2239185751)
}

.Heading_heading-01__GJ4VX.masked-line {
    line-height: 1.22
}

.Heading_heading-01__GJ4VX.masked-line .mask-split-line:not(:last-child) {
    margin-bottom: -.22em
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_heading-01__GJ4VX {
        font-size: max(48px, calc(48px + (1vw - 3.75px) * 100 * .2239185751))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_heading-01__GJ4VX {
        font-size: clamp(48px, calc(48px + (1vw - 3.75px) * 100 * .2239185751), 136px)
    }
}

@media(min-width:768px) {
    .Heading_heading-01__GJ4VX {
        font-size: calc(136px + (1vw - 7.68px) * 100 * .0555555556);
        line-height: 1;
        line-height: 1.22
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_heading-01__GJ4VX {
            font-size: max(136px, calc(136px + (1vw - 7.68px) * 100 * .0555555556))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_heading-01__GJ4VX {
            font-size: clamp(136px, calc(136px + (1vw - 7.68px) * 100 * .0555555556), 200px)
        }
    }
    .Heading_heading-01__GJ4VX.masked-line {
        line-height: 1.22
    }
    .Heading_heading-01__GJ4VX.masked-line .mask-split-line:not(:last-child) {
        margin-bottom: -.22em
    }
}

@media(min-width:1024px) {
    .Heading_heading-01__GJ4VX {
        line-height: 1;
        line-height: 1.22
    }
    .Heading_heading-01__GJ4VX.masked-line {
        line-height: 1.22
    }
    .Heading_heading-01__GJ4VX.masked-line .mask-split-line:not(:last-child) {
        margin-bottom: -.22em
    }
}

.Heading_heading-02__4trkz {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    line-height: 1.22;
    font-size: calc(40px + (1vw - 3.75px) * 100 * .1424936387)
}

.Heading_heading-02__4trkz.masked-line {
    line-height: 1.22
}

.Heading_heading-02__4trkz.masked-line .mask-split-line:not(:last-child) {
    margin-bottom: -.22em
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_heading-02__4trkz {
        font-size: max(40px, calc(40px + (1vw - 3.75px) * 100 * .1424936387))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_heading-02__4trkz {
        font-size: clamp(40px, calc(40px + (1vw - 3.75px) * 100 * .1424936387), 96px)
    }
}

@media(min-width:768px) {
    .Heading_heading-02__4trkz {
        font-size: calc(96px + (1vw - 7.68px) * 100 * .0416666667)
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_heading-02__4trkz {
            font-size: max(96px, calc(96px + (1vw - 7.68px) * 100 * .0416666667))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_heading-02__4trkz {
            font-size: clamp(96px, calc(96px + (1vw - 7.68px) * 100 * .0416666667), 144px)
        }
    }
}

.Heading_heading-03__FrpUC {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    line-height: 1.22;
    font-size: calc(32px + (1vw - 3.75px) * 100 * .0610687023)
}

.Heading_heading-03__FrpUC.masked-line {
    line-height: 1.22
}

.Heading_heading-03__FrpUC.masked-line .mask-split-line:not(:last-child) {
    margin-bottom: -.22em
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_heading-03__FrpUC {
        font-size: max(32px, calc(32px + (1vw - 3.75px) * 100 * .0610687023))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_heading-03__FrpUC {
        font-size: clamp(32px, calc(32px + (1vw - 3.75px) * 100 * .0610687023), 56px)
    }
}

@media(min-width:768px) {
    .Heading_heading-03__FrpUC {
        font-size: calc(56px + (1vw - 7.68px) * 100 * .0277777778);
        line-height: 1;
        line-height: 1.22
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_heading-03__FrpUC {
            font-size: max(56px, calc(56px + (1vw - 7.68px) * 100 * .0277777778))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_heading-03__FrpUC {
            font-size: clamp(56px, calc(56px + (1vw - 7.68px) * 100 * .0277777778), 88px)
        }
    }
    .Heading_heading-03__FrpUC.masked-line {
        line-height: 1.22
    }
    .Heading_heading-03__FrpUC.masked-line .mask-split-line:not(:last-child) {
        margin-bottom: -.22em
    }
}

@media(min-width:1024px) {
    .Heading_heading-03__FrpUC {
        line-height: 1;
        line-height: 1.22
    }
    .Heading_heading-03__FrpUC.masked-line {
        line-height: 1.22
    }
    .Heading_heading-03__FrpUC.masked-line .mask-split-line:not(:last-child) {
        margin-bottom: -.22em
    }
}

.Heading_heading-04__NioT7 {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    line-height: 1.22;
    font-size: calc(28px + (1vw - 3.75px) * 100 * .0305343511)
}

.Heading_heading-04__NioT7.masked-line {
    line-height: 1.22
}

.Heading_heading-04__NioT7.masked-line .mask-split-line:not(:last-child) {
    margin-bottom: -.22em
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_heading-04__NioT7 {
        font-size: max(28px, calc(28px + (1vw - 3.75px) * 100 * .0305343511))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_heading-04__NioT7 {
        font-size: clamp(28px, calc(28px + (1vw - 3.75px) * 100 * .0305343511), 40px)
    }
}

@media(min-width:768px) {
    .Heading_heading-04__NioT7 {
        font-size: calc(40px + (1vw - 7.68px) * 100 * .0208333333);
        line-height: 1;
        line-height: 1.22
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_heading-04__NioT7 {
            font-size: max(40px, calc(40px + (1vw - 7.68px) * 100 * .0208333333))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_heading-04__NioT7 {
            font-size: clamp(40px, calc(40px + (1vw - 7.68px) * 100 * .0208333333), 64px)
        }
    }
    .Heading_heading-04__NioT7.masked-line {
        line-height: 1.22
    }
    .Heading_heading-04__NioT7.masked-line .mask-split-line:not(:last-child) {
        margin-bottom: -.22em
    }
}

.Heading_heading-05__lN2Ri {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    font-size: calc(20px + (1vw - 3.75px) * 100 * .010178117)
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_heading-05__lN2Ri {
        font-size: max(20px, calc(20px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_heading-05__lN2Ri {
        font-size: clamp(20px, calc(20px + (1vw - 3.75px) * 100 * .010178117), 24px)
    }
}

@media(min-width:768px) {
    .Heading_heading-05__lN2Ri {
        font-size: calc(24px + (1vw - 7.68px) * 100 * .0069444444)
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_heading-05__lN2Ri {
            font-size: max(24px, calc(24px + (1vw - 7.68px) * 100 * .0069444444))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_heading-05__lN2Ri {
            font-size: clamp(24px, calc(24px + (1vw - 7.68px) * 100 * .0069444444), 32px)
        }
    }
}

.Heading_label-large__PuqWe {
    text-transform: uppercase;
    font-weight: 700;
    line-height: .8888888889em;
    font-size: calc(18px + (1vw - 3.75px) * 100 * .0050890585)
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_label-large__PuqWe {
        font-size: max(18px, calc(18px + (1vw - 3.75px) * 100 * .0050890585))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_label-large__PuqWe {
        font-size: clamp(18px, calc(18px + (1vw - 3.75px) * 100 * .0050890585), 20px)
    }
}

@media(min-width:768px) {
    .Heading_label-large__PuqWe {
        line-height: .9em
    }
}

.Heading_label-small__GFZjJ {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    font-size: 14px
}

.Heading_quote__UmObp {
    font-weight: 500;
    font-size: calc(28px + (1vw - 3.75px) * 100 * .010178117);
    line-height: 1.1428571429em
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_quote__UmObp {
        font-size: max(28px, calc(28px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_quote__UmObp {
        font-size: clamp(28px, calc(28px + (1vw - 3.75px) * 100 * .010178117), 32px)
    }
}

@media(min-width:768px) {
    .Heading_quote__UmObp {
        font-size: calc(28px + (1vw - 7.68px) * 100 * .0173611111);
        line-height: 1.1666666667em
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_quote__UmObp {
            font-size: max(28px, calc(28px + (1vw - 7.68px) * 100 * .0173611111))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_quote__UmObp {
            font-size: clamp(28px, calc(28px + (1vw - 7.68px) * 100 * .0173611111), 48px)
        }
    }
}

.Heading_quote-small__dLt_W {
    font-weight: 500;
    font-size: calc(24px + (1vw - 3.75px) * 100 * .010178117);
    line-height: 1.3333333333em
}

@supports(font-size:max(1rem, 2rem)) {
    .Heading_quote-small__dLt_W {
        font-size: max(24px, calc(24px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Heading_quote-small__dLt_W {
        font-size: clamp(24px, calc(24px + (1vw - 3.75px) * 100 * .010178117), 28px)
    }
}

@media(min-width:768px) {
    .Heading_quote-small__dLt_W {
        font-size: calc(28px + (1vw - 7.68px) * 100 * .0034722222);
        line-height: 1.25em
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Heading_quote-small__dLt_W {
            font-size: max(28px, calc(28px + (1vw - 7.68px) * 100 * .0034722222))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Heading_quote-small__dLt_W {
            font-size: clamp(28px, calc(28px + (1vw - 7.68px) * 100 * .0034722222), 32px)
        }
    }
}

.Text_text__2mTe6 {
    margin-top: 0;
    margin-bottom: 0
}

.Text_body-large__xM7IJ {
    text-transform: none;
    font-weight: 500;
    line-height: 1.4em;
    font-size: calc(20px + (1vw - 3.75px) * 100 * .010178117)
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_body-large__xM7IJ {
        font-size: max(20px, calc(20px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_body-large__xM7IJ {
        font-size: clamp(20px, calc(20px + (1vw - 3.75px) * 100 * .010178117), 24px)
    }
}

@media(min-width:768px) {
    .Text_body-large__xM7IJ {
        line-height: 1.3333333333em
    }
}

.Text_body-standard__GVHvt {
    text-transform: none;
    font-weight: 500;
    line-height: 1.25em;
    font-size: calc(16px + (1vw - 3.75px) * 100 * .0050890585)
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_body-standard__GVHvt {
        font-size: max(16px, calc(16px + (1vw - 3.75px) * 100 * .0050890585))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_body-standard__GVHvt {
        font-size: clamp(16px, calc(16px + (1vw - 3.75px) * 100 * .0050890585), 18px)
    }
}

@media(min-width:768px) {
    .Text_body-standard__GVHvt {
        line-height: 1.3333333333em
    }
}

.Text_body-bold__NS63S {
    text-transform: none;
    font-weight: 700;
    line-height: 1.5em;
    font-size: calc(16px + (1vw - 3.75px) * 100 * .0050890585)
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_body-bold__NS63S {
        font-size: max(16px, calc(16px + (1vw - 3.75px) * 100 * .0050890585))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_body-bold__NS63S {
        font-size: clamp(16px, calc(16px + (1vw - 3.75px) * 100 * .0050890585), 18px)
    }
}

@media(min-width:768px) {
    .Text_body-bold__NS63S {
        line-height: 1.3333333333em;
        font-size: calc(18px + (1vw - 7.68px) * 100 * .0052083333)
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Text_body-bold__NS63S {
            font-size: max(18px, calc(18px + (1vw - 7.68px) * 100 * .0052083333))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Text_body-bold__NS63S {
            font-size: clamp(18px, calc(18px + (1vw - 7.68px) * 100 * .0052083333), 24px)
        }
    }
}

.Text_button-label-large__Igc9j {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase
}

.Text_button-label-small__I263P {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2857142857em;
    text-transform: uppercase
}

.Text_label-large__v0ynX {
    text-transform: uppercase;
    font-weight: 700;
    line-height: .8888888889em;
    font-size: calc(18px + (1vw - 3.75px) * 100 * .0050890585)
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_label-large__v0ynX {
        font-size: max(18px, calc(18px + (1vw - 3.75px) * 100 * .0050890585))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_label-large__v0ynX {
        font-size: clamp(18px, calc(18px + (1vw - 3.75px) * 100 * .0050890585), 20px)
    }
}

@media(min-width:768px) {
    .Text_label-large__v0ynX {
        line-height: .9em
    }
}

.Text_label-small__eyEIO {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    font-size: 14px
}

.Text_link-large__bS43i {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    text-transform: uppercase
}

.Text_link-small__yrJ5z {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2857142857em;
    text-transform: uppercase
}

.Text_foot-note__FVonl {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3333333333em
}

.Text_kanji-large__IhGTH {
    font-weight: 500;
    font-family: Noto Sans JP, sans-serif;
    font-size: calc(22px + (1vw - 7.68px) * 100 * .0086805556);
    line-height: 1.25em
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_kanji-large__IhGTH {
        font-size: max(22px, calc(22px + (1vw - 7.68px) * 100 * .0086805556))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_kanji-large__IhGTH {
        font-size: clamp(22px, calc(22px + (1vw - 7.68px) * 100 * .0086805556), 32px)
    }
}

.Text_kanji-medium__JolaA {
    font-weight: 500;
    font-family: Noto Sans JP, sans-serif;
    font-size: calc(22px + (1vw - 7.68px) * 100 * .0017361111);
    line-height: 1.0833333333em
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_kanji-medium__JolaA {
        font-size: max(22px, calc(22px + (1vw - 7.68px) * 100 * .0017361111))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_kanji-medium__JolaA {
        font-size: clamp(22px, calc(22px + (1vw - 7.68px) * 100 * .0017361111), 24px)
    }
}

.Text_quote__DzGpc {
    font-weight: 500;
    font-size: calc(28px + (1vw - 3.75px) * 100 * .010178117);
    line-height: 1.1428571429em
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_quote__DzGpc {
        font-size: max(28px, calc(28px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_quote__DzGpc {
        font-size: clamp(28px, calc(28px + (1vw - 3.75px) * 100 * .010178117), 32px)
    }
}

@media(min-width:768px) {
    .Text_quote__DzGpc {
        font-size: calc(28px + (1vw - 7.68px) * 100 * .0173611111);
        line-height: 1.1666666667em
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Text_quote__DzGpc {
            font-size: max(28px, calc(28px + (1vw - 7.68px) * 100 * .0173611111))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Text_quote__DzGpc {
            font-size: clamp(28px, calc(28px + (1vw - 7.68px) * 100 * .0173611111), 48px)
        }
    }
}

.Text_quote-small__8QE1l {
    font-weight: 500;
    font-size: calc(24px + (1vw - 3.75px) * 100 * .010178117);
    line-height: 1.3333333333em
}

@supports(font-size:max(1rem, 2rem)) {
    .Text_quote-small__8QE1l {
        font-size: max(24px, calc(24px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .Text_quote-small__8QE1l {
        font-size: clamp(24px, calc(24px + (1vw - 3.75px) * 100 * .010178117), 28px)
    }
}

@media(min-width:768px) {
    .Text_quote-small__8QE1l {
        font-size: calc(28px + (1vw - 7.68px) * 100 * .0034722222);
        line-height: 1.25em
    }
    @supports(font-size:max(1rem, 2rem)) {
        .Text_quote-small__8QE1l {
            font-size: max(28px, calc(28px + (1vw - 7.68px) * 100 * .0034722222))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .Text_quote-small__8QE1l {
            font-size: clamp(28px, calc(28px + (1vw - 7.68px) * 100 * .0034722222), 32px)
        }
    }
}

.PreviewModeBar_preview-mode-bar__6HauN {
    position: fixed;
    inset: auto auto 0 0;
    width: 100%;
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 5px var(--grid-gutter);
    z-index: 10;
    justify-content: space-between;
    display: flex;
    align-items: center
}

.PreviewModeBar_preview-mode-bar__6HauN.PreviewModeBar_is-hidden__GpdhH {
    display: none
}

.PreviewModeBar_content__ywjFj {
    display: flex;
    align-items: center
}

.PreviewModeBar_close-button__RdOSC {
    margin-right: 32px;
    block-size: 32px;
    inline-size: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.PreviewModeBar_close-button__RdOSC .PreviewModeBar_icon__jpvnI {
    block-size: 16px;
    inline-size: 16px
}

.PrimaryLink_primary-link__g42og {
    position: relative
}

.PrimaryLink_primary-link__g42og:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    block-size: 1px;
    inline-size: 100%;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .75s cubic-bezier(.19, 1, .22, 1)
}

@media(hover:hover)and (pointer:fine) {
    .PrimaryLink_primary-link__g42og:hover:after {
        transform-origin: left;
        transform: scaleX(1)
    }
}

.PrimaryLink_primary-link__g42og.PrimaryLink_is-active__eln9p:after {
    transform-origin: left;
    transform: scaleX(1)
}

.PrimaryLink_label-small__xSSQQ {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    font-size: 14px
}

.PrimaryLink_button-label-small__N_BUW {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2857142857em;
    text-transform: uppercase
}

.PrimaryLink_button-label-large__5ZaT4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase
}

.PrimaryLink_body-standard__d03vM {
    text-transform: none;
    font-weight: 500;
    line-height: 1.25em;
    font-size: calc(16px + (1vw - 3.75px) * 100 * .0050890585)
}

@supports(font-size:max(1rem, 2rem)) {
    .PrimaryLink_body-standard__d03vM {
        font-size: max(16px, calc(16px + (1vw - 3.75px) * 100 * .0050890585))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .PrimaryLink_body-standard__d03vM {
        font-size: clamp(16px, calc(16px + (1vw - 3.75px) * 100 * .0050890585), 18px)
    }
}

@media(min-width:768px) {
    .PrimaryLink_body-standard__d03vM {
        line-height: 1.3333333333em
    }
}

.PrimaryLink_heading-05__oAa0R {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    font-size: calc(20px + (1vw - 3.75px) * 100 * .010178117)
}

@supports(font-size:max(1rem, 2rem)) {
    .PrimaryLink_heading-05__oAa0R {
        font-size: max(20px, calc(20px + (1vw - 3.75px) * 100 * .010178117))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .PrimaryLink_heading-05__oAa0R {
        font-size: clamp(20px, calc(20px + (1vw - 3.75px) * 100 * .010178117), 24px)
    }
}

@media(min-width:768px) {
    .PrimaryLink_heading-05__oAa0R {
        font-size: calc(24px + (1vw - 7.68px) * 100 * .0069444444)
    }
    @supports(font-size:max(1rem, 2rem)) {
        .PrimaryLink_heading-05__oAa0R {
            font-size: max(24px, calc(24px + (1vw - 7.68px) * 100 * .0069444444))
        }
    }
    @supports(font-size:clamp(1rem, 1vw, 2rem)) {
        .PrimaryLink_heading-05__oAa0R {
            font-size: clamp(24px, calc(24px + (1vw - 7.68px) * 100 * .0069444444), 32px)
        }
    }
}

.PrimaryLink_foot-note__hvSBM {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3333333333em
}

.PrimaryLink_icon___FQoG {
    width: 1.2em;
    margin-left: 8px
}

.PrimaryLink_icon___FQoG.PrimaryLink_download__NlSD2 {
    stroke: currentColor
}

.PrimaryLink_icon___FQoG.PrimaryLink_download__NlSD2 svg {
    fill: none
}

.PrimaryLink_icon___FQoG.PrimaryLink_download__NlSD2 path {
    stroke: currentColor
}

.SiteFooter_site-footer__2KmuB {
    position: relative;
    --foreground-color: #fff;
    --background-color: #000;
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: calc(48px + (1vw - 3.75px) * 100 * .0207119741) var(--grid-gutter)
}

.SiteFooter_logo__2WaPf {
    width: calc(var(--grid-column-width)*2 + var(--grid-gap)*1)
}

.SiteFooter_content-wrapper__xNfe3 {
    position: relative;
    display: flex;
    gap: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    flex-direction: column
}

.SiteFooter_legal-list-item__ayUw8,
.SiteFooter_social-list-item__MDxQB {
    text-transform: uppercase
}

.SiteFooter_legal-list-item__ayUw8 {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3333333333em;
    color: #888
}

.SiteFooter_legal-list-item__ayUw8 a {
    display: inline-block;
    width: 100%;
    height: 100%
}

.SiteFooter_dentsu-logo__OilZh {
    width: 170px;
    height: 20px
}

.SiteFooter_footerLinks__fIuL3 {
    display: flex;
    flex-direction: column;
    gap: calc(32px + (1vw - 3.75px) * 100 * .0207119741)
}

@media(min-width:480px) {
    .SiteFooter_legal-list__EbFl9,
    .SiteFooter_social-list__c5sjV {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }
}

@media(min-width:1024px) {
    .SiteFooter_content-wrapper__xNfe3 {
        padding-left: 0;
        gap: 80px;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row
    }
    .SiteFooter_legal-list__EbFl9,
    .SiteFooter_social-list__c5sjV {
        display: flex;
        justify-content: space-between
    }
    .SiteFooter_legal-list-item__ayUw8:not(:first-child),
    .SiteFooter_social-list-item__MDxQB:not(:first-child) {
        margin-top: 0
    }
    .SiteFooter_legal-list__EbFl9 {
        width: 100%;
        justify-content: space-between;
        gap: 16px
    }
    .SiteFooter_logo__2WaPf {
        position: relative
    }
}

@media(min-width:1440px) {
    .SiteFooter_legal-list__EbFl9 {
        gap: calc(var(--grid-column-width)*1 + var(--grid-gap)*0)
    }
}

.SiteHeader_site-header__zPO0O {
    color: var(--foreground-color);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    z-index: 4;
    height: var(--header-size);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.SiteHeader_site-header__zPO0O:not(.SiteHeader_noMixBlendMode__jZMv4) {
    --foreground-color: #fff;
    --background-color: #000;
    mix-blend-mode: difference
}

.SiteHeader_site-header__zPO0O .SiteHeader_list__vlZSE {
    display: none
}

.SiteHeader_logo__dukbL {
    width: calc(var(--grid-column-width)*.75 + var(--grid-gap)*0);
    flex-shrink: 0
}

@media(min-width:1024px) {
    .SiteHeader_site-header__zPO0O .SiteHeader_list__vlZSE {
        display: flex
    }
    .SiteHeader_site-header__zPO0O .SiteHeader_hamburger-button__xsQgB {
        display: none
    }
    .SiteHeader_logo__dukbL {
        width: calc(var(--grid-column-width)*.5 + var(--grid-gap)*0);
        min-width: 40px
    }
}

.NavigationList_navigation-list__Zmmns a.NavigationList_primary-nav-anchor__Xdz3B {
    font-size: calc(12px + (1vw - 10.24px) * 100 * .0044642857)
}

@supports(font-size:max(1rem, 2rem)) {
    .NavigationList_navigation-list__Zmmns a.NavigationList_primary-nav-anchor__Xdz3B {
        font-size: max(12px, calc(12px + (1vw - 10.24px) * 100 * .0044642857))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .NavigationList_navigation-list__Zmmns a.NavigationList_primary-nav-anchor__Xdz3B {
        font-size: clamp(12px, calc(12px + (1vw - 10.24px) * 100 * .0044642857), 16px)
    }
}

.NavigationList_emptySpacingItem__NxaWx {
    text-transform: uppercase;
    font-weight: 700;
    line-height: .8888888889em;
    font-size: calc(18px + (1vw - 3.75px) * 100 * .0050890585)
}

@supports(font-size:max(1rem, 2rem)) {
    .NavigationList_emptySpacingItem__NxaWx {
        font-size: max(18px, calc(18px + (1vw - 3.75px) * 100 * .0050890585))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .NavigationList_emptySpacingItem__NxaWx {
        font-size: clamp(18px, calc(18px + (1vw - 3.75px) * 100 * .0050890585), 20px)
    }
}

@media(min-width:768px) {
    .NavigationList_emptySpacingItem__NxaWx {
        line-height: .9em
    }
}

.NavigationList_emptySpacingItem__NxaWx {
    padding-bottom: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    padding-top: calc(24px + (1vw - 3.75px) * 100 * .0258899676);
    line-height: 1
}

@media(min-width:1024px) {
    .NavigationList_navigation-list__Zmmns {
        display: flex;
        align-items: center;
        padding: 0
    }
    .NavigationList_navigation-list__Zmmns .NavigationList_primary-nav-anchor__Xdz3B {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5em;
        text-transform: uppercase
    }
    .NavigationList_list-item__c0Sko {
        margin-top: 0
    }
    .NavigationList_list-item__c0Sko:not(:first-child) {
        margin-left: calc(32px + (1vw - 3.75px) * 100 * .0258899676)
    }
}

button.LocaleSelector_locale-selector__jC9g_ {
    padding: 6px 16px;
    border-radius: 24px
}

div.LocaleSelector_locale-selector__jC9g_ {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 100px;
    background: var(--foreground-color);
    color: var(--background-color);
    width: max-content
}

.PrimaryButton_primary-button__5ecJs {
    padding: calc(10px + (1vw - 3.75px) * 100 * 0) calc(48px + (1vw - 3.75px) * 100 * 0);
    border-radius: 24px;
    background-color: var(--foreground-color);
    color: var(--background-color);
    overflow: hidden
}

.PrimaryButton_text-holder__y7tzy {
    position: relative;
    overflow: hidden;
    white-space: nowrap
}

.PrimaryButton_content__y9KWH {
    display: flex;
    align-items: center
}

.PrimaryButton_icon__bJ9dJ {
    width: 20px;
    margin-right: 8px
}

.PrimaryButton_label__4sxhC {
    position: relative;
    display: inline-block
}

.PrimaryButton_hover-content__6yyH6 {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    color: #fff
}

.PrimaryButton_background-hover__en4rV {
    position: absolute;
    inset-block-start: -40%;
    inset-inline-start: -50%;
    background-color: #071c32;
    border-radius: 100%;
    block-size: 200%;
    inline-size: 200%
}

.PrimaryButton_has-outline__u_POB {
    border: 1px solid var(--background-color)
}

.PrimaryButton_has-outline__u_POB.PrimaryButton_is-selected__DO2fo {
    border-color: var(--foreground-color)
}

.PrimaryButton_revert-color____iQE {
    border-color: var(--forground-color);
    background-color: var(--background-color);
    color: var(--forground-color)
}

.PrimaryButton_revert-color____iQE .PrimaryButton_background-hover__en4rV {
    background-color: var(--foreground-color)
}

.PrimaryButton_revert-color____iQE .PrimaryButton_hover-content__6yyH6 {
    color: var(--background-color)
}

.PrimaryButton_color-variation-dark7__CIYQv {
    background-color: #232323;
    color: #fff
}

.PrimaryButton_color-variation-dark7__CIYQv .PrimaryButton_background-hover__en4rV {
    opacity: 1;
    background-color: #fff
}

.PrimaryButton_color-variation-dark7__CIYQv .PrimaryButton_hover-content__6yyH6 {
    color: #000
}

.PrimaryButton_color-variation-dark7__CIYQv.PrimaryButton_revert-color____iQE {
    background-color: #fff;
    color: #000
}

.PrimaryButton_color-variation-dark7__CIYQv.PrimaryButton_revert-color____iQE .PrimaryButton_background-hover__en4rV {
    background-color: #232323
}

.PrimaryButton_color-variation-dark7__CIYQv.PrimaryButton_revert-color____iQE .PrimaryButton_hover-content__6yyH6 {
    color: #fff
}

.HamburgerButton_hamburger-button__IERt1 {
    position: relative;
    color: var(--foreground-color);
    font-size: calc(28px + (1vw - 3.75px) * 100 * .0129449838);
    block-size: 1em;
    inline-size: 1em
}

@supports(font-size:max(1rem, 2rem)) {
    .HamburgerButton_hamburger-button__IERt1 {
        font-size: max(28px, calc(28px + (1vw - 3.75px) * 100 * .0129449838))
    }
}

@supports(font-size:clamp(1rem, 1vw, 2rem)) {
    .HamburgerButton_hamburger-button__IERt1 {
        font-size: clamp(28px, calc(28px + (1vw - 3.75px) * 100 * .0129449838), 48px)
    }
}

.HamburgerButton_icon__usSMs {
    position: absolute;
    block-size: 0;
    inline-size: 1em;
    inset-block-start: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%)
}

.HamburgerButton_icon__usSMs:after,
.HamburgerButton_icon__usSMs:before {
    transition: transform .3s cubic-bezier(.55, .085, .68, .53);
    position: absolute;
    block-size: 3px;
    inline-size: 1em;
    background-color: currentColor;
    content: ""
}

.HamburgerButton_icon__usSMs:before {
    inset-block-start: -6px;
    inset-inline-start: 0
}

.HamburgerButton_icon__usSMs:after {
    inset: auto auto -6px 0
}

.HamburgerButton_is-open__x5PTo .HamburgerButton_icon__usSMs:after,
.HamburgerButton_is-open__x5PTo .HamburgerButton_icon__usSMs:before {
    transition: transform .3s cubic-bezier(.25, .46, .45, .94)
}

.HamburgerButton_is-open__x5PTo .HamburgerButton_icon__usSMs:before {
    transform: rotate(135deg) translate(3px, -3px)
}

.HamburgerButton_is-open__x5PTo .HamburgerButton_icon__usSMs:after {
    transform: rotate(-135deg) translate(3px, 3px)
}

.MenuOverlay_menu-overlay__7RFiB {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    z-index: 4;
    --foreground-color: #fff;
    --background-color: #000;
    color: var(--foreground-color)
}

.MenuOverlay_scroll-bar__GvZOb {
    overflow: auto
}

.MenuOverlay_list__ceIPv {
    padding-top: var(--header-size);
    padding-bottom: var(--header-size)
}

.MenuOverlay_background__kPgyF {
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--background-color)
}

@media(min-width:1024px) {
    .MenuOverlay_menu-overlay__7RFiB {
        display: none
    }
}

.SitePreloader_site-preloader__llDMk {
    position: fixed;
    background-color: var(--foreground-color);
    color: var(--background-color);
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center
}

.SitePreloader_lottie-holder__8_ELV {
    position: relative;
    aspect-ratio: 10/9;
    max-width: 200px;
    width: 100%
}

.SitePreloader_lottie-holder__8_ELV .SitePreloader_lottie-icon__9XsOD {
    position: absolute
}

.SitePreloader_lottie-holder__8_ELV path {
    stroke: var(--background-color)
}

.SitePreloader_progress-bar__23_fZ {
    position: absolute;
    block-size: 10px;
    inline-size: 100%;
    background-color: var(--background-color);
    inset: 0 auto auto 0
}

.LottieView_lottie-view__uDVTv {
    position: relative;
    block-size: 100%;
    inline-size: 100%
}

.RotateScreenModal_rotate-screen-modal__GSEsg {
    position: fixed;
    z-index: 6;
    background-color: #000;
    color: #fff;
    inset: 0 0 0 0;
    justify-content: center;
    align-items: center;
    display: none
}

.RotateScreenModal_centerContainer__zUhHS {
    margin: var(--grid-gutter);
    display: flex;
    flex-direction: column
}

.RotateScreenModal_phone-container__dfLdl {
    padding: 48px;
    margin: auto
}

.RotateScreenModal_is-shown__SLKkA {
    display: flex
}

.VideoModal_video-modal-background__sIzdb {
    background-color: rgba(0, 0, 0, 0)
}

.VideoModal_video__9ScmH {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none
}

.VideoModal_video__9ScmH.VideoModal_is-visible__lT1oD {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    display: flex
}

.Video_video-wrapper__OX1Ie {
    position: relative;
    background-color: #000;
    display: flex;
    align-items: center
}

.Video_video-wrapper__OX1Ie,
.Video_video-wrapper__OX1Ie video {
    block-size: 100%;
    inline-size: 100%
}

.Video_video-wrapper__OX1Ie iframe {
    pointer-events: none
}

.Video_video-wrapper__OX1Ie .Video_allowScrollOnSafari__ZeARe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}

.Video_video-wrapper__OX1Ie:not(.Video_is-covered__gc7A_) .Video_video-holder__7_g3_ {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%
}

.Video_video-wrapper__OX1Ie .Video_video-holder__7_g3_ {
    pointer-events: none
}

.Video_video-wrapper__OX1Ie .Video_video-holder__7_g3_ video {
    object-fit: contain
}

.Video_video-wrapper__OX1Ie.Video_is-covered__gc7A_ .Video_video-holder__7_g3_ {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%
}

.Video_video-wrapper__OX1Ie.Video_is-covered__gc7A_ video {
    object-fit: cover
}

.Video_video-wrapper__OX1Ie .Video_video-controls__qKhFf {
    position: absolute;
    inset: auto auto 0 50%;
    transform: translate(-50%);
    width: 100%;
    transition: opacity .3s cubic-bezier(.25, .46, .45, .94);
    opacity: 0
}

.Video_video-wrapper__OX1Ie .Video_video-controls__qKhFf.Video_visible__LUdfF {
    opacity: 1;
    z-index: 2
}

.Video_video-wrapper__OX1Ie .Video_poster-image__pMNsH {
    z-index: 1
}

.Video_video-wrapper__OX1Ie .Video_poster-image__pMNsH>div {
    min-height: 100%
}

.Video_video-wrapper__OX1Ie .Video_play-button__gCPoX {
    position: absolute;
    z-index: 2
}

.Video_video-wrapper__OX1Ie .Video_play-button__gCPoX:focus {
    opacity: 1
}

.Video_video-player__udGTL {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%
}

.PlayIcon_play-icon__caG9T {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px
}

.PlayIcon_icon__7ca7l {
    box-sizing: border-box;
    transition: all .3s cubic-bezier(.19, 1, .22, 1);
    will-change: border-width;
    cursor: pointer;
    display: block;
    width: 0;
    height: 1em;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) currentcolor;
    border-style: solid;
    border-width: .5em 0 .5em .7em
}

.PlayIcon_is-playing__oSnY_ .PlayIcon_icon__7ca7l {
    width: .8em;
    border-width: 0 .2em;
    border-right-color: currentColor
}

.PlayIcon_size-medium__HUawL {
    font-size: 16px
}

@media(min-width:768px) {
    .PlayIcon_size-medium__HUawL {
        font-size: 24px
    }
}

.VideoControls_video-controls__8A1OO {
    width: 100%;
    height: 100%
}

.VideoControls_bottom-controls__XGCgl {
    width: 100%;
    display: flex;
    color: #fff;
    padding: 0 var(--grid-gutter) calc(32px + (1vw - 3.75px) * 100 * .0103559871);
    align-items: center
}

.VideoControls_bottom-controls__XGCgl:before {
    pointer-events: none;
    position: absolute;
    content: "";
    block-size: 20rem;
    inline-size: 100%;
    background: linear-gradient(0deg, hsl(0, 0%, 0%) 0, hsla(0, 0%, 0%, .987) 8.1%, hsla(0, 0%, 0%, .951) 15.5%, hsla(0, 0%, 0%, .896) 22.5%, hsla(0, 0%, 0%, .825) 29%, hsla(0, 0%, 0%, .741) 35.3%, hsla(0, 0%, 0%, .648) 41.2%, hsla(0, 0%, 0%, .55) 47.1%, hsla(0, 0%, 0%, .45) 52.9%, hsla(0, 0%, 0%, .352) 58.8%, hsla(0, 0%, 0%, .259) 64.7%, hsla(0, 0%, 0%, .175) 71%, hsla(0, 0%, 0%, .104) 77.5%, hsla(0, 0%, 0%, .049) 84.5%, hsla(0, 0%, 0%, .013) 91.9%, hsla(0, 0%, 0%, 0));
    inset: auto 0 0 0
}

.VideoControls_close-button__a7rAV {
    position: absolute;
    top: var(--grid-gutter);
    right: var(--grid-gutter);
    block-size: 32px;
    inline-size: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    color: #fff;
    opacity: 0;
    visibility: hidden
}

.VideoControls_close-button__a7rAV:before {
    position: absolute;
    content: "";
    block-size: 100%;
    inline-size: 100%;
    background: radial-gradient(rgba(0, 0, 0, .04) 45%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    left: 8px;
    z-index: -1
}

.VideoControls_close-button__a7rAV .VideoControls_icon___cRGV {
    block-size: 16px;
    inline-size: 16px;
    transition: transform .25s cubic-bezier(.25, .46, .45, .94)
}

@media(hover:hover)and (pointer:fine) {
    .VideoControls_close-button__a7rAV .VideoControls_icon___cRGV:hover {
        transform: scale(1.2)
    }
}

.VideoControls_button__f6eSz {
    block-size: calc(12px + (1vw - 3.75px) * 100 * 0);
    inline-size: calc(12px + (1vw - 3.75px) * 100 * 0);
    transition: transform .25s cubic-bezier(.25, .46, .45, .94)
}

@media(hover:hover)and (pointer:fine) {
    .VideoControls_button__f6eSz:hover {
        transform: scale(1.2)
    }
}

.VideoControls_button__f6eSz:not(:last-child) {
    margin-right: calc(16px + (1vw - 3.75px) * 100 * .0103559871)
}

.VideoControls_button__f6eSz.VideoControls_fullscreen-button___dOq2,
.VideoControls_button__f6eSz.VideoControls_mute-button__G4CbH {
    block-size: calc(16px + (1vw - 3.75px) * 100 * 0);
    inline-size: calc(16px + (1vw - 3.75px) * 100 * 0)
}

.VideoControls_button__f6eSz.VideoControls_fullscreen-button___dOq2 {
    margin-left: calc(16px + (1vw - 3.75px) * 100 * .0103559871)
}

.VideoControls_mute-icon__8xv5v svg {
    fill: rgba(0, 0, 0, 0)
}

.VideoControls_knob___qz85 {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
    transform: translate(-50%, -50%);
    block-size: 8px;
    inline-size: 8px;
    border-radius: 100%;
    background-color: var(--foreground-color);
    transition: width .25s cubic-bezier(.25, .46, .45, .94), height .25s cubic-bezier(.25, .46, .45, .94)
}

@media(hover:hover)and (pointer:fine) {
    .VideoControls_knob___qz85:hover {
        block-size: 16px;
        inline-size: 16px
    }
}

.VideoControls_progress-bar__Du1Ru {
    position: relative;
    block-size: 4px;
    inline-size: 100%;
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 2px 0 0 2px;
    margin: 0 16px;
    z-index: 1
}

.VideoControls_left-controls___KiUg,
.VideoControls_right-controls__RA_n7 {
    position: relative;
    display: flex;
    align-items: center
}

.VideoControls_progress__eZQh9 {
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 0;
    background-color: currentColor;
    pointer-events: none
}

.VideoControls_time__KE__d {
    color: currentColor;
    font-size: clamp(.625rem, calc(.625rem + .125 * (100vw - 30rem) / 60), .75rem)
}

.VideoControls_is-fullscreen__hykSi .VideoControls_close-button__a7rAV {
    opacity: 1;
    visibility: visible
}

.Image_image-holder__T2zw1 {
    display: block;
    background-color: #232323
}

.Image_image-holder__T2zw1.Image_is-loaded__PIYnm {
    background-color: rgba(0, 0, 0, 0)
}

.Image_custom-image__EvBTT {
    width: 100%;
    object-fit: cover
}

.Image_custom-image__EvBTT.Image_fill-height__isyJ_ {
    height: 100%
}

.Image_inner-animation__U8OSN {
    overflow: hidden
}

.Image_inner-parallax__h8Jly.Image_is-vertical__41_NF .Image_inner-image__bML0t {
    margin-top: -30px;
    margin-bottom: -30px
}

.Image_inner-parallax__h8Jly.Image_is-horizontal__gDDD2 .Image_inner-image__bML0t {
    margin-left: -30px;
    margin-right: -30px
}

.Modal_modal__vQ4gN {
    position: fixed;
    z-index: 8;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: none;
    pointer-events: none;
    background: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0
}

.Modal_modal__vQ4gN.Modal_is-visible__Gp16P {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    display: block
}

.Modal_modal__vQ4gN::backdrop {
    background: none
}

.Modal_close-button__EMX61 {
    position: absolute;
    top: var(--grid-gutter);
    right: var(--grid-gutter);
    block-size: 32px;
    inline-size: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    color: #fff
}

.Modal_close-button__EMX61 .Modal_icon__u_yxQ {
    transition: transform .25s cubic-bezier(.25, .46, .45, .94);
    block-size: 16px;
    inline-size: 16px
}

@media(hover:hover)and (pointer:fine) {
    .Modal_close-button__EMX61:hover .Modal_icon__u_yxQ {
        transform: scale(1.2)
    }
}

.Modal_background__m2q1w {
    position: fixed;
    z-index: 7;
    background-color: rgba(0, 0, 0, .8);
    inset: 0;
    pointer-events: none
}

.ImageModal_modalContainer__Hqu5e {
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.ImageModal_modal__SBqPa {
    position: relative;
    max-height: calc(100% - var(--grid-gutter)*2);
    max-width: calc(100% - var(--grid-gutter)*2);
    block-size: 100%;
    inline-size: 100%
}

.GridChecker_grid-checker__u3t57 {
    inset: 0 auto 0 0;
    position: fixed;
    width: 100vw;
    display: none
}

.GridChecker_grid-checker__u3t57.GridChecker_is-visible__UydEw {
    display: block;
    pointer-events: none;
    z-index: 99999
}

.GridChecker_grid-checker__u3t57 div {
    height: 100%
}

.GridChecker_grid-column__ZZKs6 {
    min-height: 50px;
    background: rgba(255, 0, 0, .1)
}

/*# sourceMappingURL=599d8305be7ea574.css.map*/